nav{
  display: block;
  left: -20px;
  background-color: #2C64B4;
  width: 100%;
  text-align: center;
  overflow: hidden;
}
a{
  float: top;
  padding: 18px 16px;
  color: white;
  text-decoration: none;
}
a:hover{
  background-color: blanchedalmond;
  color: #333333;
}
li{
  margin-right: 30px;
  display: inline-block;
  list-style-type: none;
}

body{
  background-color: antiquewhite;
}
